<launch>
	<!-- Launch sensor launch file in usv_sensor package/-->
	<include file="$(find usv_sensor)/launch/usv_sensor_on.launch"/>
	<node name="heartbeat_sender" pkg="usv_gnc" type="heartbeat_sender" />
	<node name="auto_pwm" pkg="usv_gnc" type="auto_pwm" launch-prefix="sudo -E">
	</node>
	<node name="heading_PID" pkg="usv_gnc" type="heading_PID_GPS">
		<param name = "K_p"  value ="40.0"/>
		<param name = "K_i"   value ="0.01"/>
		<param name = "K_d"   value ="20.0"/>
		<param name = "K_g"   value ="0.001"/>
		<param name = "Total_thrust" value ="1.6"/>
	</node>
     	<!--guidance  /-->
	<node name="guidance_node" pkg="usv_gnc" type="guidance_node"  output="screen">
		<remap from="/c_heading" to="/control/heading" />
   		<rosparam param="lat">[41.43017,41.43057,41.43057,41.43017,41.43017,41.43057,41.43057,41.43017,41.43017,41.43057]</rosparam>
    		<rosparam param="lon">[-71.56778,-71.56778,-71.56761,-71.56761,-71.56744,-71.56744,-71.56727,-71.56727,-71.56708,-71.56708]</rosparam>
	</node>
</launch>
