<launch>
	<arg name="port_name" default="/dev/ttyS1"/>
	<arg name="port" default="/dev/ttyUSB0" />
 	<arg name="baud" default="9600" />
  	<arg name="frame_id" default="/wgs84" />

	<node name="VI_sensor" pkg="usv_sensor" type="VI_sensor" >
	</node>
	<node name="imu" pkg="usv_sensor" type="imu" output="screen">
	</node>
	<node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node">
		<param name = "constant_dt"  value ="0.0"/>
		<param name = "use_mag" value ="False"/>
		<param name = "use_magnetic_field_msg"  value ="False"/>
		<param name = "world_frame"  value ="enu"/>	
		<remap from="/imu/data" to="/sensor/imu/data" />
		<remap from="imu/data_raw" to="/sensor/imu/data_raw"/>
		<remap from="imu/mag" to="/sensor/imu/mag"/>
	</node>

	<node name="gps_node" pkg="gps_driver" type="gps_node" output="screen">
		<param name="port_name" value="$(arg port_name)" />
    		<param name="baud" value="$(arg baud)" />
    		<param name="frame_id" value="$(arg frame_id)" />
	</node>

	<node name="rf_node" pkg="digi_rf" type="rf_node" >
		<param name="port_name" type="string" value="/dev/ttyS1"/>
		<param name="ROS2NMEA" value="19" />
		<param name="NMEA2ROS" value="64" />
		<remap from="/rf/joy" to="/joy"/>
	</node>
	<node name="rf_tx_beat" pkg="digi_rf" type="rf_tx_beat">
		<param name = "hz"  value ="10.0"/>
	</node>
</launch>
